

.section{
    width: 100%;
    height: 700px;
}
.relative{
    position: relative;
    border: 10px solid green;
    height: 200px;
    background-color: aliceblue;
    margin-right: 800px;
}
.absolute{
    position: absolute;
    border: 5px solid red;
    height: 100px;
    width: 200px;
    left:10px;
    top: 50px;
}
.relative1{
    position: relative;
    border: 10px solid rgb(162, 246, 162);
    height: 200px;
    background-color: aliceblue;
    margin-left: 800px;  
}
.relative2{
    position: relative;
    border: 2px solid yellow;
    height: 50px;
    background-color: aqua;
    top: 15px;

}
.fixed{
    position: fixed;
    bottom: 30px;
    left: 10px;
    height: 200px;
    width: 200px;
    background-color: rgb(243, 243, 244);
    border: 10px solid green;
}
img{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -2;
}
