

body{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(16, 59, 16);
            border-radius: 10px;
        }
        ul li{
            float: right;
            padding-top: 20px;
        }
        ul li a{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        ul li a:hover{
            background-color: rgb(167, 16, 16);
        }

.servicebtn{
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.service-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px;
}
.service-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.service-content a:hover{
    background-color: #f1f1f1;
}
.service:hover .service-content{
    display: block;
}
.section{
  width: 100%;
  height: 700px;
  background-image: url(./../images/pro.jpg)
}
.row{
  width: 90%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}
a{
  text-decoration: none;
  color: #f1f1f1;
  float: left;
  margin-left: 25px;
  padding-top: 23px;
}
.a1{
  font-size: 26px;
}
.h1{
  padding-top: 150px;
  color: white;
}
.search{
  width: 500px;
  margin-left: 100px;
  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border:none;
  border-radius: 30px;
}
.btn{
  border-radius: 30px;
}
.btn1{
  width: 100px;
  height: 50px;
  border-radius: 30px;
}
.section1{
  width: 100%;
  height: 800px;
  background-color: white;
}
.row1{
  width: 100%;
  margin: 20px;
}
.head{
  padding-top: 50px;
  padding-left: 85px;
}
.text{
  float: right;
  padding-bottom: 20px;
  margin-right: 50px;
}
.row2{
  width: 100%;
  display: flex;
  top: 10px;
  padding: 20px;
}
.carousel {
  width: 100%;
  margin-left: 80px;
  position: relative;
  overflow: hidden;
}

.carousel input {
  display: none;
}

/* Slides container */
.slides {
  display: flex;
  width: 300%;
  transition: 0.6s ease;
}

/* Individual slide */
.slide {
  width: 100%;
  display: flex;
}
.slide img {
  width: 100%;
  border-radius: 10px;
}

/* Move slides based on radio input */
#s1:checked ~ .slides {
  transform: translateX(0);
}
#s2:checked ~ .slides {
  transform: translateX(-33.33%);
}
#s3:checked ~ .slides {
  transform: translateX(-66.66%);
}

/* Dots */
.dots {
  text-align: center;
  margin-top: 10px;
}
.dots label {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #ccc;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

/* Highlight active dot */
#s1:checked ~ .dots label[for="s1"],
#s2:checked ~ .dots label[for="s2"],
#s3:checked ~ .dots label[for="s3"] {
  background: #333;
}
