
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #8364e8;
    padding: 40px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.left-content {
    color: white;
}

.left-content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.line {
    width: 8px;
    height: 200px;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 100px;
}

.form-card {
    background: #fff;
    padding: 30px;
    width: 450px;
    border-radius: 15px;
    margin-left: 600px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}

.form-card h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

input:focus, select:focus {
    border-color: #8364e8;
}

.row {
    display: flex;
    gap: 15px;
}

.gender-options {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.gender-options label {
    font-weight: 500;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #8364e8;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background: #6a4eda;
}

/* Mobile Responsive */
@media (max-width: 900px) {
    .main-container {
        flex-direction: column;
        text-align: center;
    }

    .line {
        margin: 0 auto 20px;
    }
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .left-content h1 {
        font-size: 40px;
        line-height: 48px;
    }
}
.h1{
    padding-left: 40px;
}