

.section{
    width: 100%;
    height: 150px;
    background-color: yellowgreen;
}
.contain{
    width: 80%;
    height: 150px;
    background-color: violet;
    margin: 0 auto;
}

.left{
    width: 30%;
    height: 150px;
    background-color: blueviolet;
    float: left;
}
.right{
    width: 50%;
    height: 150px;
    background-color: green;
    float: right;
}

.row{
    width: 90%;
    height: 72px;
    background-color: tomato;
    margin: 2px auto;
}
.col{
    width: 29%;
    height: 42px;
    background-color: crimson;
    float: left,right;
}

