

body{
            margin: 0;
            padding: 0;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(1, 46, 2);
            border-radius: 10px;
        }
        ul li{
            float: right;
        }
        ul li a{
            display: block;
            color: white;
            font-size: 18px;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            padding-right: 30px;
        }
        ul li a:hover{
            background-color: #ea1010;
        }
.servicebtn{
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.service-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px;
}
.service-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.service-content a:hover{
    background-color: #f1f1f1;
}
.service:hover .service-content{
    display: block;
}
.section{
            width: 100%;
            height: 800px;
            background: url(./../images/pro.jpg);
}
.row{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
a{
    text-decoration: none;
    color: white;
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 20px;
}
.p{
    font-size: 28px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    color: white;
}
.section1{
    width: 100%;
    height: 600px;
    background-color: white;
    padding: 50px;
}
.row1{
    width: 100%;
    top: 20px;
    display: flex;
    padding: 10px
    
}
.carousel {
  width: 100%;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.carousel input {
  display: none;
}

/* Slides container */
.slides {
  display: flex;
  width: 300%;
  transition: 0.6s ease;
}

/* Individual slide */
.slide {
  display: flex;
}
.slide img {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}

/* Move slides based on radio input */
#s1:checked ~ .slides {
  transform: translateX(0);
}
#s2:checked ~ .slides {
  transform: translateX(-33.33%);
}
#s3:checked ~ .slides {
  transform: translateX(-66.66%);
}

/* Dots */
.dots {
  text-align: center;
  margin-top: 10px;
}
.dots label {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #ccc;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

/* Highlight active dot */
#s1:checked ~ .dots label[for="s1"],
#s2:checked ~ .dots label[for="s2"],
#s3:checked ~ .dots label[for="s3"] {
  background: #333;
}
.card1{
    display: flex;
}
.row2{
    width: 100%;
    margin: 20px;
    
}
.section2{
    margin-top: 220px;
    height: 400px;
    padding-top: 30px;
    position: relative;
    z-index: 8;
    text-align: center;
    background-color: whitesmoke;
}
.row4{
  width: 40%;
  height: 300px;
  background-color: #fff;
}
.container{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 60px;
}
.p1{
   text-align: center;
   padding-top: 85px;
   color: black;
}
.p2{
  color: black;
  padding-top: 30px;
  text-decoration: underline;
}
.btn{
  border-radius: 20px;
}
.text{
  float: right;
  margin-bottom: 20px;
}
.p3{
  margin-top: 0;
  margin-bottom: 10px;
}
.head {
  width: fit-content;
  float:left;
}
.search{
  width: 400px;
  margin-left: 500px;
  margin-top: 30px;
  padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 30px;
}
.btn1{
  width: 100px;
  border-radius: 30px;
  font-size: 22px;
}
.p4{
   font-size: 42px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    color: white;
}
