

.section{
    width: 100%;
    height: 4000px;
    background-color: rgb(75, 73, 73);
}
.left{
    width: 35%;
    height: 600px;
    background-color: aliceblue;
    float: left;
    margin-left: 120px;
    margin-top: 100px;
}
.right{
    width: 35%;
    height: 600px;
    background-color: rgb(35, 80, 120);
    margin-left: 150px;
    margin-top: 100px;
}
.row{
    width: 90%;
    height: 150px;
    background-color: rgb(218, 127, 127);
    margin-top: 80px;
    margin-left: 100px;
}
p.upper{
    text-transform: uppercase;
}
.font{
    padding-top: 70px;
    font-size: 24px;
    padding-left: 70px;
}
p,h2{
            padding-left: 70px;
            text-align: justify;
            font-size: 20px;
            font-family:"Open Sans", sans-serif;
            margin: 0 ;
            line-height: 2.5;
}
h3{
    padding-left: 70px;
    padding-top: 20px
}
p.big{
    padding-top: 100px;
}
.right1{
    width: 35%;
    height: 600px;
    background-color: rgb(232, 140, 110);
    float: left;
    margin-left: 100px;
    margin-top: 330px;
}
.right2{
    width: 35%;
    height: 600px;
    float: right;
    margin-top: 10px;
    padding-right: 250px;

}
.left2{
    width: 40%;
    height: 400px;
    background-color: rgb(117, 117, 190);
    float: left;
    margin-top: 100px;
    margin-left: 100px;
}
.row1{
      width: 110%;
    height: 300px;
    background-color: rgb(195, 211, 244);
    margin-top: 450px;
    margin-left: 50px;
}
.right4{
    width: 30%;
    height: 200px;
    margin-top: 350px;
    margin-left: 120px;
    float: left;
}
p.text{
            padding-left: 50px;
            text-align: justify;
            padding-inline-start: 100px;
}
.right5{
     width: 35%;
    height: 600px;
    background-color: rgb(255, 253, 252);
    float: right;
    margin-top: 300px;
    margin-right: 180px;
}
a {
    color: #ff0;
    text-decoration: none;
}
    
