

.section{
    width: 100%;
    height: 200px;
    background-color: black;
    border: 5px solid black;
}
.contain{
    width: 90%;
    height: 180px;
    background-color: rgb(29, 132, 223);
    margin: 0 auto;
    border: 5px solid black;
}
.left{
    width: 40%;
    height: 150px;
    background-color: aqua;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    border: 5px solid black;
}
.right{
    width: 50%;
    height: 150px;
    background-color: rgb(162, 222, 12);
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    border: 5px solid black;
}
.row{
    width: 95%;
    height: 70px;
    background-color: blanchedalmond;
    margin: 2px auto;
    float:left,right;
}
.col{
    width: 40%;
    height: 52px;
    background-color: blue;
    margin: 3px;
    float: left;
    border: 5px solid black;
}
.row1{
    width: 30%;
    height: 70px;
    background-color: blanchedalmond;
    margin: 30px auto;
    float:left,right;
    border: 5px solid black;
}
.col1{
    width: 50%;
    height: 52px;
    background-color: blue;
    margin: 3px;
    float: right;
    border: 5px solid black;
}
.section1{
    width: 100%;
    height: 200px;
    background-color: rgb(255, 0, 0);
    border: 5px solid black;
}
.contain1{
    width: 90%;
    height: 180px;
    background-color: rgb(3, 137, 254);
    margin: 0 auto;
    border: 5px solid black;
}
.left1{
     width: 40%;
    height: 150px;
    background-color: rgb(6, 234, 234);
    float: left;
    margin: 5px auto;
    margin-left: 10px;
    border: 5px solid black;
}
.col2{
    width: 40%;
    height: 52px;
    background-color: blue;
    margin: 3px;
    float: left;
    border: 5px solid black;
}
.row2{
    width: 80%;
    height: 70px;
    background-color: blanchedalmond;
    margin: 30px auto;
    float:left,right;
    border: 5px solid black;
}
.section2{
    width: 100%;
    height: 200px;
    background-color: rgb(126, 49, 49);
    border: 5px solid black;
}
.contain2{
    width: 90%;
    height: 180px;
    background-color: rgb(3, 137, 254);
    margin: auto;
    border: 5px solid black;
}
.row3{
     width: 30%;
     height: 150px;
     background-color: blanchedalmond;
     margin: 10px auto;
     float: left,right;
     border: 5px solid black;
}
.col3{
    width: 70%;
    height: 30px;
    background-color: yellow;
    margin: 0 auto;
    float: left,right;
    margin-bottom: 0 auto;
    border: 5px solid black;
}
.row4{
    width: 65%;
    height: 100px;
    background-color: white;
    margin: 10px auto;
    border: 5px solid black;
}
.col4{
    width: 22%;
    height: 50px;
    background-color: black;
    margin:20px;
    float: left;
    border: 5px solid black;
}
.left2{
    width: 30%;
    height: 150px;
    background-color: orangered;
    margin: 10px auto;
    float: left;
    margin-left: 10px;
    border: 5px solid black;
}
.right2{
    width: 30%;
    height: 150px;
    background-color: orangered;
    margin: 10px auto;
    float: right;
    margin-right: 10px;
    border: 5px solid black;
}
.row5{
    width: 75%;
    height: 30px;
    background-color: blue;
    margin: 10px auto;
    float: left,right;
    border: 5px solid black;
}
.row6{
    width: 75%;
    height: 80px;
    background-color: black;
    margin: 20px auto;
    float: left,right;
}
.section3{
     width: 100%;
    height: 200px;
    background-color: rgb(32, 35, 19);
    border: 5px solid black;
    border: 5px solid black;
}
.row7{
     width: 20%;
    height: 120px;
    background-color: blanchedalmond;
    margin: 30px auto;
    margin-left: 50px;
    float:left;
    border: 5px solid black;
}
.row8{
      width: 50%;
    height: 120px;
    background-color: blanchedalmond;
    margin: 30px auto;
    margin-right: 20px;
    float:right;
    border: 5px solid black;
}
.col5{
    width: 30%;
    height: 80px;
    background-color: yellowgreen;
    margin: 30px auto;
    margin-left: 20px;
    float: left;
    border: 5px solid black;
}
.col6{
    width: 30%;
    height: 80px;
    background-color: yellowgreen;
    margin: 30px auto;
    margin-right: 20px;
    float: right;
    border: 5px solid black;
}
.col7{
    width: 30%;
    height: 150px;
    background-color: orangered;
    margin: 10px auto;
    float: left,right;
    border: 5px solid black;
}
.col8{
    width: 80%;
    height: 90px;
    background-color: rgb(166, 250, 10);
    margin:10px auto;
    float: left,right;
}
.row9{
    width: 35%;
    height: 60px;
    background-color: black;
    margin: 10px auto;
    margin-left: 10px ;
    float: left;
}
.row10{
    width: 35%;
    height: 60px;
    background-color: black;
    margin: 10px auto;
    margin-right: 10px ;
    float: right;
}
.row11{
     width: 75%;
     height: 30px;
     background-color: blue;
     float: left,right;
     margin: 10px auto;
}
.right3{
     width: 30%;
     height: 150px;
     background-color: rgb(255, 115, 0);
    float: right,left;
    margin: 0 auto;
    
}